In [24]:
import pandas as pd
import json
import numpy as np
from collections import OrderedDict

In [48]:
import jupyter

In [42]:
match_df = pd.read_csv("data/match.csv")
# heroes = json.load(open('data/heroes.json','r'))['heroes']

In [ ]:
pd.read_csv('data/team')

In [36]:
names =  [x['id'] for x in heroes]

In [33]:
match_df.columns = ['result', 'location', 'mode', 'type'] + names

ValueError: Length mismatch: Expected axis has 117 elements, new values have 116 elements

In [41]:
match_df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92645,-1,154,2,3,1,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
92646,1,154,2,2,0,0,0,0,-1,0,...,1,0,0,0,0,0,0,0,0,0
92647,1,111,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92648,-1,185,2,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
92649,-1,204,2,2,0,-1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0